

{% include "includes/header.html" %}


<div class="container-mid">
    <div class = "messages">
    {% include "includes/messages.html" %}
        </div>
    <h1 class="pageTitle"> {% block title %} {{title}} {% endblock %}</h1>
    <h2 class="pageClaim"> {% block claim %} {{claim}} {% endblock %}</h2>
    <div class="MiddleContainer">
    {% block body %}
    <p> Content </p>
    {% endblock %}
        </div>




</div>


{% if is_paginated %}
  <div class="pagination" id="pages">
    {% if page_obj.has_previous %}
      <div><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></div>
    {% else %}
      <div class="disabled"><span>&laquo;</span></div>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <div class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></div>
      {% else %}
        <div><a href="?page={{ i }}">{{ i }}</a></div>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <div><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></div>
    {% else %}
      <div class="disabled"><span>&raquo;</span></div>
    {% endif %}
  </div>

{% endif %}

{% include "includes/footer.html" %}



